<h2>All domains</h2>

<table>
	<tr><th>Domain</th><th>Expiry Date</th><th>Client</th><th>Project/Account Manager</th><th>Job number</th><th>Action</th><th></th></tr>
<% for(var i=0; i<domains.length; i++) {%>
   <tr><td><a href="/domain/<%= domains[i].domain.name %>"><%= domains[i].domain.name %></a></td><td><%= domains[i].domain.expires_at %></td><td class="client"></td><td class="owner"></td><td class="jobnumber"></td><td>renew</td><td><a href="#" class="edit">edit</a></td></tr>
<% } %>
</table>
